#root {
  padding: 30px;
  font-family: "Open Sans", sans-serif;
}

nav > a {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #000000;
  margin-right: 30.5px;
  text-decoration-line: none;
  
}

nav > a.active {
  text-decoration-line: underline;
}

nav {
  padding-bottom: 20px;
  border-bottom: 1px solid #979797;
  margin-bottom: 20px;
  display: flex;
}


.page-container {
  display:flex;
  justify-content: space-around;
}

.new-entry {
  text-align: center;
  margin: 0 auto;
  padding: 0 2rem;
  flex: 1 1 40%;
  
  
}

.display {
  margin: 0 auto;
  padding: 0 2rem;
  flex: 1 1 50%;
  border-left: 2px solid grey;
}

h2 {
  font-weight: bold;
  font-size: 30px;
  color: black;
  margin: 0;
  margin-bottom: 18px;
  text-align: center;
}



hr {
  border: none;
  border-top: 1px solid #979797;
  margin: 20px 0;
}

input[type="submit"] {
  background: #03a8d8;
  border-radius: 4px;
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  border: none;
  outline: none;
  padding: 10px 0;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  margin-top: 10px;
  margin-bottom: 0px;
}

input,
select {
  font-family: "Open Sans", sans-serif;
  background: #ffffff;
  border: 1px solid #979797;
  border-radius: 4px;
  padding: 7px 9.5px 9px 9.5px;
  outline: none;
  width: 100%;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.tile {
  margin: 0 auto;
  font-size: 18px;
  margin-bottom: 1rem;
  padding: 0 4rem;
  
}

.tile-title {
  margin: 0 0 1rem 0;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid goldenrod;
  font-style: italic;
  padding: 1rem;
}

p.tile-title {
  color: burlywood;
}

.tile-container {
  padding: 0 2rem;
  margin-bottom: 20px;
  background-color: beige;
  border: 1px solid beige;
  
}

.tile-list{
  display: flex;
  flex-direction: column;
}

@media only screen 
  and (min-device-width: 375px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .page-container {
      display:flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    .new-entry {
      padding: 2rem;
    }
    .display {
      padding: 2rem;
      border-left: none;
    }

}

@media only screen 
  and (max-device-width: 375px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    #root {
      padding: 2rem 0;
    }
    nav {
      width: 100%;
    }

    .page-container {
      width: 100%;
    }
    .page-container {
      display: flex;
      flex-direction: column;
    }
    .new-entry {
      width: 100%;
      padding: 2rem 0;
    }
    .display {
      width: 100%;
      padding: 2rem 0;
      border-left: none;
    }

    input,
    select {
      
      width: 80%;
      
    }

    input[type="submit"] {
      width: 80%;
    }

}
